@font-face {
  font-family: 'Graphik';
  src: url('Graphik-Medium.eot');
  src: local('Graphik Medium'), local('Graphik-Medium'),
      url('Graphik-Medium.eot?#iefix') format('embedded-opentype'),
      url('Graphik-Medium.woff2') format('woff2'),
      url('Graphik-Medium.woff') format('woff'),
      url('Graphik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  list-style: none;
  margin-bottom: 0;

  padding-left: 0;
}

img {
  display: block;
}

body {
  background: #181818;
  color: #fff;
}

.container {
width: 549px;
}
.header_container{
  height: 107px;
display: flex;
padding: 15px 16px 14px 24px;
justify-content: center;
align-items: center;
margin-bottom: 57px;
}
.logo{
  margin-right: 82px;
}
.header_btn{
  width: 139px;
  display: flex;
height: 52px;
padding: 20px 36px;
align-items: center;
border: 1px solid #FFF;
box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
background-color: #181818;
margin-right: 16px;
}
.header_btn_name{
  color: #FFF;
font-family: Graphik;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: 1,47;
letter-spacing: 0,001em;
padding: 10px;
}
.burger_btn{
border: none;
background-color: #181818;
}
.icon_burger{
fill: #FFFFFF;
width: 66px;
height: 53px;
}
.hero{
}
.main_item{
  color: #FFF;
text-align: center;
font-family: Graphik;
font-size: 52px;
font-weight: 500;
line-height: 1.19;
letter-spacing: 0.03em;
width: 294px;
height: 186px;
display: flex;
padding: 10px;
}
.main_text{
  padding: 20px 10px 10px 10px;
  color: #FFF;
text-align: center;
font-size: 20px;
line-height: 1.5;
letter-spacing: 0.2px;
width: 382px;
height: 120px;
}
.button_container{
  display: flex;
  flex-direction: column;
  margin: 57px 0 57px 0;
  gap: 21px;
}
.btn_free{
width: 178px;
height: 65px;
background: #4452FE;
box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
color:#FFF;
font-family: Graphik;
font-size: 17px;
font-weight: 500;
line-height: 1.47;
letter-spacing: 0.01em;
}
.btn_learn{
width: 174px;
height: 65px;
border: 1px solid #FFF;
box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
background-color: #181818;
color: var(--light-background, #FFF);
font-family: Graphik;
font-size: 17px;
font-weight: 500;
line-height: 1.47;
letter-spacing: 0.01em;
}
.image-container{
  position: relative;
  min-width: 549px;
  height: 435px; 
  overflow: hidden;
  display: flex;

}

.main_img{
  object-fit: cover; /* Забезпечення заповнення контейнера зображенням */
  
}
.gradient-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(30, 30, 30, 0.00) 0%, #0E0E0E 100%);
}